


html{
    
    height: 100%;
}

body{
    display:block;
    /* grid-template-columns: auto;
    grid-template-rows: auto auto; */
}

main{
    /* height: 100vh; */
    padding-top: 80px ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1rem;
    /* padding: 1rem; */
}

nav{
    z-index: 99;
    position:fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
.nav-list{
    width: 100%;
    position: fixed;        
    margin: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.section-container{
    min-height: 60vh;
    /* box-shadow: rgba(255, 255, 255, 0.08)0 0 0 1px; */
    
}

.section-container:hover{
    
    filter: none;
}

.section-description{
    transform: translateY(0%);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#hero-section{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
}

#projects-section{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
}

#about-section{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
}

#contact-section{
    margin-bottom: 7rem;
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    color: rgb(240, 240, 240);
    background-color: var(--primer-color) ;
}