
@import url(styles.css);


html{
    height: 100%;
    filter: brightness(1.08);
}


body{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}


nav{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 60px;
    height: 100%;
    background-color: var(--primer-color);
    box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.05) 0px 3px 7px -3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.nav-list{        
    margin: 1rem;
}

main{

    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4,auto);
    gap: 1rem;
    /* padding: 1rem; */
}

.easter-egg{
    display: none;
}
.loguito{
    display: none;
}

.section-container{
    justify-content:flex-start;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.08)0 0 0 1px;
    filter: brightness(1.0);
    min-height: 270px;
    /* height: 50vh; */
}

.section-container:hover{
    filter: brightness(1.0);
}

.section-description{
    transform: translateY(0%);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#hero-section{
    grid-column-start: 1 ;
    grid-column-end: 2;
    border-radius:  0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: -1px 0px 0px 0px  rgba(255, 255, 255, 0.08) inset,
    -1px 0px 0px 0px rgba(255, 255, 255, 0.141),
     0 -1px 0px 0  rgba(255, 255, 255, 0.4) ;
}

#projects-section{
    grid-column-start: 1 ;
    grid-column-end:2 ;
    border-radius:  0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: -1px 0px 0px 0px  rgba(255, 255, 255, 0.08) inset,
    -1px 0px 0px 0px rgba(255, 255, 255, 0.141),
     0 -1px 0px 0  rgba(255, 255, 255, 0.4) ;
}

#about-section{
    grid-column-start: 1 ;
    grid-column-end:2 ;
    border-radius:  0.5rem 0.5rem  0.5rem 0.5rem;
    box-shadow: -1px 0px 0px 0px  rgba(255, 255, 255, 0.08) inset,
    -1px 0px 0px 0px rgba(255, 255, 255, 0.141),
     0 -1px 0px 0  rgba(255, 255, 255, 0.4) ;
}

#contact-section{
    grid-column-start: 1 ;
    grid-column-end:2 ;

    color: aliceblue;
    border-radius:  0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--primer-color) ;
}